import {Component} from 'react'
import Cookies from 'js-cookie'
import Loader from 'react-loader-spinner'

import Header from '../Header'
import MyProfileView from '../MyProfileView'

const apiStatusConstants = {
  initial: 'INITIAL',
  success: 'SUCCESS',
  failure: 'FAILURE',
  inProgress: 'IN_PROGRESS',
}

class MyProfile extends Component {
  state = {
    apiStatus: apiStatusConstants.initial,
    myProfileDetails: [],
  }

  componentDidMount() {
    this.getMyProfileDetails()
  }

  formattedData = data => ({
    id: data.profile.id,
    userId: data.profile.user_id,
    userName: data.profile.user_name,
    profilePic: data.profile.profile_pic,
    followersCount: data.profile.followers_count,
    followingCount: data.profile.following_count,
    userBio: data.profile.user_bio,
    postsCount: data.profile.posts_count,
    posts: data.profile.posts.map(eachPost => ({
      id: eachPost.id,
      image: eachPost.image,
    })),
    stories: data.profile.stories.map(eachStory => ({
      id: eachStory.id,
      image: eachStory.image,
    })),
  })

  getMyProfileDetails = async () => {
    this.setState({apiStatus: apiStatusConstants.inProgress})

    const jwtToken = Cookies.get('jwt_token')
    const url = 'https://apis.ccbp.in/insta-share/my-profile'
    const options = {
      headers: {
        Authorization: `Bearer ${jwtToken}`,
      },
      method: 'GET',
    }
    const response = await fetch(url, options)
    if (response.ok) {
      const data = await response.json()
      const updatedData = this.formattedData(data)
      this.setState({
        apiStatus: apiStatusConstants.success,
        myProfileDetails: updatedData,
      })
      console.log(updatedData)
    } else {
      this.setState({apiStatus: apiStatusConstants.failure})
    }
  }

  renderMyProfileView = () => {
    const {myProfileDetails} = this.state
    return <MyProfileView myProfileDetails={myProfileDetails} />
  }

  onRetry = () => {
    this.getMyProfileDetails()
  }

  renderMyProfileFailureView = () => (
    <div className="failure-story-container">
      <img
        src="https://res.cloudinary.com/dba1mklgz/image/upload/v1649236849/InstaShare/failure-image_vrquv4.png"
        alt="failure view"
        className="api-failure-img"
      />
      <p className="failure-para">Something went wrong. Please try again</p>
      <button className="failure-button" type="button" onClick={this.onRetry}>
        Try again
      </button>
    </div>
  )

  renderLoadingView = () => (
    <div className="loader-container" testid="loader">
      <Loader
        testid="loader"
        type="TailSpin"
        color="#4094EF"
        height={50}
        width={50}
      />
    </div>
  )

  renderMyProfileDetailsView = () => {
    const {apiStatus} = this.state

    switch (apiStatus) {
      case apiStatusConstants.success:
        return this.renderMyProfileView()
      case apiStatusConstants.failure:
        return this.renderMyProfileFailureView()
      case apiStatusConstants.inProgress:
        return this.renderLoadingView()
      default:
        return null
    }
  }

  render() {
    return (
      <>
        <Header />
        <div>{this.renderMyProfileDetailsView()}</div>
      </>
    )
  }
}

export default MyProfile