.LoginFormContainer {
  background: #ffffff;
}

@media screen and (max-width: 767px) {
  .LoginFormContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.FormContainer {
  position: absolute;
  left: 57.22%;
  right: 11.11%;
  top: 27.64%;
  bottom: 27.64%;

  background: #fefeff;
  box-shadow: 0px 8px 40px rgba(7, 7, 7, 0.08);
  border-radius: 8px;

  height: 458px;
  width: 456px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .FormContainer {
    position: inherit;
    box-shadow: none;
  }
}
.BannerImage {
  display: flex;
  position: absolute;
  left: 11.11%;
  right: 48.47%;
  top: 31.84%;
  bottom: 31.74%;
}
@media screen and (max-width: 767px) {
  .BannerImage {
    display: none;
  }
}

.Logo {
  height: 42px;
  width: 82px;
  border-radius: 0px;
}
.LogoHeading {
  height: 32px;
  width: 122px;

  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;

  color: #262626;
}

.Form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.InputContainer {
  height: 64px;
  width: 360px;
  border-radius: 0px;

  margin: 5px 0px 5px 0px;

  display: flex;
  flex-direction: column;
}

.LoginButton {
  width: 360px;
  height: 40px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  margin: 5px 0px 5px 0px;

  color: #ffffff;

  background: #4094ef;
  border-radius: 8px;
  border: none;
}

.ErrorMessage {
  height: 16px;
  width: 204px;

  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;

  /* Light / red / 500 */
  color: #ef4444;
}

.LabelEl {
  width: 65px;
  height: 16px;

  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-align: left;

  color: #262626;
}

.UserInput {
  height: 40px;

  background: #eeeeee;
  border-radius: 5px;
  border: none;
}